<!--
 * @Author: your name
 * @Date: 2020-01-30 17:01:07
 * @LastEditTime : 2020-01-30 17:47:54
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /project/src/view/tabbar.ejs
-->
<div id="footer">
    <ul>
        <% for(var i=0;i<data.length;i++){%>
                <li>
                    <svg width="50" height="50" class="icon" aria-hidden="true">
                        <use xlink:href="<%= data[i].icon %>"></use>
                    </svg> 
                    <span><%= data[i].text %> </span>                   
                </li>
            <%} %> 
    </ul>
</div>