#footer {
  width: 100%;
  height: 0.96rem;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #696969;
  border-top: .5px solid #d8d8d8;
  background-color: #fff;
}

#footer ul {
  width: 100%;
  height: 100%;
  display: flex;
}

#footer ul .active {
  color: #f03d37;
}

#footer ul li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.28rem;
}

#footer ul li .icon {
  width: 1rem;
  height: 1rem;
}

#footer ul li span {
  font-size: 0.24rem;
}
